SERVER_PORT=8080
JWT_SECRET_KEY=replace-with-your-base64-jwt-secret
DB_HOST=localhost
DB_DRIVER_CLASS_NAME=org.postgresql.Driver
POSTGRES_IMAGE=postgres:latest
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password
POSTGRES_HOST_PORT=5433
REDIS_IMAGE=redis:latest
REDIS_HOST=localhost
REDIS_HOST_PORT=6379
RABBITMQ_IMAGE=rabbitmq:3-management
RABBITMQ_HOST=localhost
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=your_rabbitmq_user
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_FORMAT_SQL=true
